.qiandui_company_name{
	float: left;
	font-size: 20px;
	font-weight: bold;
	padding-top: 28px;
}

.qiandui_company_img{
	float: left;
}

.qiandui_company_img img{
	height: 83px;
}

.head dl dd{
	float:right;
	padding-right: 10px;
}

.airBox .mainNews a{
	margin-top: 22px;
}

.banners_cycle .style-1 .inner img{
	border-radius: 50%;
}

.banners_cycle .style-6 .inner img{
	border-radius: 50%;
}