<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/master.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/my.css" />
    <title>上海谦兑实业有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <style>
    .warpper .productHeadTwo{
        background: #9ECA01;
    }

    .productRight img{
        width:774px;
    }
</style>
</head>

<body onclose="doPosChoose()">
    <div class="warpper">
        <div class="warpperBox">
            <div class="header">
                <div class="clear"></div>
                <div class="headerBox">
                    <div class="nav">
                        <ul class="menu">
                            <li class="navNone label">
                                <a href="../../index.html">首页</a>
                            </li>
                            <li class="">
                                <a href="../aboutus/company.html">关于我们</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../aboutus/company.html">公司简介</a>
                                    <a href="../aboutus/antiseptic.html">工业防腐品牌</a>
                                    <a href="../aboutus/service.html">服务范围</a>
                                    <a href="../aboutus/partner.html">合作伙伴</a>
                                </p>
                            </li>
                            <li class="navShine">
                                <a href="../product/hempel.html">产品中心</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../product/hempel.html">HEMPEL 海虹老人</a>
                                    <a href="../product/jotun.html">JOTUN 佐敦</a>
                                    <a href="../product/cosco.html">Cosco Kansai 中远关西</a>
                                    <a href="../product/sigma.html">PPG-Sigma 式玛卡龙</a>
                                    <a href="../product/amercoat.html">PPG-Amercoat 亚美隆</a>
                                    <a href="../product/akzo.html">IP-AKZO 国际-阿克苏</a>
                                    <a href="../product/williams.html">Sherwin-Williams 宣伟</a>
                                </p>
                            </li>
                            <li class="">
                                <a href="../office/equipment.html">办公区域</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../office/equipment.html">办公设备</a>
                                    <a href="../office/smart.html">智能会议系统</a>
                                    <a href="../office/media.html">多媒体教学</a>
                                    <a href="../office/stationery.html">办公文具</a>
                                    <a href="../office/furniture.html">办公家具</a>
                                    <a href="../office/printer.html">打印耗材</a>
                                </p>
                            </li>
                            <li class="">
                                <a href="../news/newsmain.html">资讯中心</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../news/enterprise.html">企业新闻</a>
                                    <a href="../news/indurstry.html">行业资讯</a>
                                </p>
                            </li>
                            <li class="">
                                <a href="../practice/hempel.html">工程案例</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../practice/hempel.html">HEMPEL-海虹老人</a>
                                    <a href="../practice/jotun.html">JOTUN-佐敦</a>
                                    <a href="../practice/kansai.html">KANSAI-关西</a>
                                </p>
                            </li>
                            <li class="">
                                <a href="../support/base.html">技术支持</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../support/base.html">基础涂装知识</a>
                                    <a href="../support/color.html">色彩选择</a>
                                    <a href="../support/construction.html">涂装施工</a>
                                    <a href="../support/standard.html">相关标准</a>
                                     
                                </p>
                            </li>
                            <li class="">
                                <a href="../contact/us.html">联系我们</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../contact/us.html">18521309245</a>
                                    <a href="../contact/us.html">qianduisy@163.com</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="qiandui_company_img" href="index.html">
                        <img src="../../images/logo.png"></div>
                    <div class="qiandui_company_name">上海谦兑实业有限公司</div>
                </div>
            </div>
        </div>
        <div class="productHeadTwo">
            <div class="productHeadBox">
                <h2>产品中心</h2>
                <p>
                    <a  >首页</a>
                    >
                    <a>产品中心</a>
                    > ／ <font>海虹老人</font>
                </p>
            </div>
        </div>
        <div class="warpperBox">
            <div class="product">
                <div class="productLeft">
                    <h2>产品中心</h2>
                    <div class="menu">
                        <ul id="accordion" class="accordion">
                            <li class="">
                                <div class="link initClick">HEMPEL 海虹老人</div>
                                <ul class="submenu" >
                                    <li >
                                        <a onclick="productHempelClick(1)">-- 15890 无机硅酸锌车间底漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(2)">-- 稀释剂</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(3)">-- 1578A 无机富锌</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(4)">-- 12050 醇酸底漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(5)">-- 15300 环氧底漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(6)">-- 15360 环氧富锌底漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(7)">-- 15570 环氧底漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(8)">-- 17360 环氧富锌底漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(9)">-- 35920 玻璃鳞片聚氨酯漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(10)">-- 45880 环氧面漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(11)">-- 55000 聚硅氧烷面漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(12)">-- 55210 聚氨酯面漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(13)">-- 55880 丙烯酸面漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(14)">-- 56910 耐高温硅酮铝粉漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productHempelClick(15)">-- 86951 无锡自抛光防污漆</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <div class="link">JOTUN 佐敦</div>
                                <ul class="submenu" >
                                    <li >
                                        <a onclick="productJotunClick(1)">-- 7号稀释剂</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(2)">-- 17号稀释剂</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(3)">-- 醇酸底漆 Alkydprimer</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(4)">-- 醇酸面漆 Pilot II</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(5)">-- 改性环氧底漆 Jotamastic 80</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(6)">-- 改性耐磨环氧漆87 Jotamastic 87</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(7)">-- 环氧富锌77CN Barrier 77 CN</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(8)">-- 环氧富锌Barrier ZEP</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(9)">-- 环氧漆面漆FC Penguard FC</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(10)">-- 环氧压载水舱漆BT Jotacote BT</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(11)">-- 聚氨酯面漆Hardtop XP</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(12)">-- 铝粉耐热漆 Aluminium Paint H.R.</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(13)">-- 无溶剂环氧饮水舱专用漆Tankguard 412</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(14)">-- 通用耐磨环氧漆Jotacote Universal</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(15)">-- 无机硅酸富锌底漆Resist 86</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(16)">-- 无机锌车间底漆2008 Muki Z 2008</a>
                                    </li>
                                    <li >
                                        <a onclick="productJotunClick(17)">-- 无锡自抛光防污漆90 SeaForce 90</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <div class="link">Cosco Kansai 中远关西</div>
                                <ul class="submenu" >
                                    <li >
                                        <a onclick="productKansaiClick(1)">-- 丙烯酸面漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(2)">-- 醇酸面漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(3)">-- 防污漆 Nu-Current</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(4)">-- 防锈油漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(5)">-- 环氧富锌底漆 100 QD</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(6)">-- 环氧富锌底漆500</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(7)">-- 环氧面漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(8)">-- 环氧漆 EX-500</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(9)">-- 环氧漆 EX-600</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(10)">-- 环氧云铁漆 Epx-29</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(11)">-- 聚氨酯 6000面漆</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(12)">-- 耐磨环氧漆 AC(M)</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(13)">-- 特种环氧漆 GX</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(14)">-- 无机硅酸锌车间底漆 1000 HA(S)</a>
                                    </li>
                                    <li >
                                        <a onclick="productKansaiClick(15)">-- 有机硅耐热底漆 铝粉漆600</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <div class="link">PPG-Sigma 式玛卡龙</div>
                                <ul class="submenu" >
                                    <li >
                                        <a>－ 醇酸漆</a>
                                    </li>
                                    <li >
                                        <a>－ 环氧漆</a>
                                    </li>
                                    <li >
                                        <a>－ 丙烯酸漆</a>
                                    </li>
                                    <li >
                                        <a>－ 聚氨酯漆</a>
                                    </li>
                                    <li >
                                        <a>－ 超强度环氧漆</a>
                                    </li>
                                    <li >
                                        <a>－ 环氧玻璃鳞片漆</a>
                                    </li>
                                    <li >
                                        <a>－ 防污漆</a>
                                    </li>
                                    <li >
                                        <a>－ 水性漆</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <div class="link">PPG-Amercoat 亚美隆</div>
                                <ul class="submenu" >
                                    <li >
                                        <a>－ 醇酸漆</a>
                                    </li>
                                    <li >
                                        <a>－ 环氧漆</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <div class="link">IP-AKZO 国际-阿克苏</div>
                                <ul class="submenu" >
                                    <li >
                                        <a>－ 环氧富锌</a>
                                    </li>
                                    <li >
                                        <a>－ 环氧底漆</a>
                                    </li>
                                    <li >
                                        <a>－ 聚氨酯面漆</a>
                                    </li>
                                    <li >
                                        <a>－ 无机富锌底漆</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <div class="link">Sherwin-Williams 宣伟</div>
                                <ul class="submenu" >
                                    <li >
                                        <a>－ 醇酸漆</a>
                                    </li>
                                    <li >
                                        <a>－ 环氧漆</a>
                                    </li>
                                </ul>
                            </li>
                             
                        </ul>

                    </div>
                    <div class="contactUs">
                        <h1>联系我们</h1>
                        <ul>
                            <li>地址: 上海市长宁区定西路1016号</li>
                            <li class="tel">MOB：18521309245</li>
                            <li class="emall">E-MAIL：qianduisy@163.com</li>
                            <li class="web">WEB：www.jadei.cn</li>
                            <li class="qrcode"><img src="../../images/qrcode.png" style="position: relative; width: 120px;" alt="" /></li>
                        </ul>
                    </div>
                </div>
                <div class="productRight">
                    <h2> <em>海虹老人</em>
                    </h2>
                    <div class="abstract"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footer">
            <div class="footerBag">
                <div class="footerBoxThree">
                    <h2>友情链接</h2>
                    <ul>
                        <li>
                            <a href="https://shop1429426715858.1688.com/">
                                <img src="../../images/friend_link_ali.png" width="100" height="30"></a>
                        </li>
                    </ul>
                </div>
                <img src="../../images/qrcode.png" style="position: relative; width: 102px; float: right; top: -38px" alt="" />
            </div>
            <div class="footerTwo">
                <div class="footerTwoBox">Copyright © 2016 上海谦兑实业有限公司 All rights reserved</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../../js/menu.js"></script>
    <script type="text/javascript" src="../../js/sidemenu.js"></script>
    <script type="text/javascript" src="../../js/my.js"></script>
    <script language="javascript" type="text/javascript">
    var loc = location.href;
  	var n1 = loc.length;//地址的总长度
  	var n2 = loc.indexOf("=");//取得=号的位置
    	
  	if(n2 > 0){
  		var id = loc.substr(n2+1, n1-n2);//从=号后面的内容
  		productHempelClick(id);	
  }
    
  
</script></body> </html>
