<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/master.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/my.css" />
    <title>上海谦兑实业有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <style>
    .warpper .productHeadTwo {
        background: #902CC9;
    }
    </style>
</head>

<body>
    <div class="warpper">
        <div class="warpperBox">
            <div class="header">
                <div class="clear"></div>
                <div class="headerBox">
                    <div class="nav">
                        <ul class="menu">
                            <li class="navNone label">
                                <a href="../../index.html">首页</a>
                            </li>
                            <li class="navShine">
                                <a href="../aboutus/company.html">关于我们</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../aboutus/company.html">公司简介</a>
                                    <a href="../aboutus/antiseptic.html">工业防腐品牌</a>
                                    <a href="../aboutus/service.html">服务范围</a>
                                    <a href="../aboutus/partner.html">合作伙伴</a>
                                </p>
                            </li>
                            <li class="">
                                <a href="../product/hempel.html">产品中心</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../product/hempel.html">HEMPEL 海虹老人</a>
                                    <a href="../product/jotun.html">JOTUN 佐敦</a>
                                    <a href="../product/cosco.html">Cosco Kansai 中远关西</a>
                                    <a href="../product/sigma.html">PPG-Sigma 式玛卡龙</a>
                                    <a href="../product/amercoat.html">PPG-Amercoat 亚美隆</a>
                                    <a href="../product/akzo.html">IP-AKZO 国际-阿克苏</a>
                                    <a href="../product/williams.html">Sherwin-Williams 宣伟</a>
                                </p>
                            </li>
                            <li class="">
                                <a href="../office/equipment.html">办公区域</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../office/equipment.html">办公设备</a>
                                    <a href="../office/smart.html">智能会议系统</a>
                                    <a href="../office/media.html">多媒体教学</a>
                                    <a href="../office/stationery.html">办公文具</a>
                                    <a href="../office/furniture.html">办公家具</a>
                                    <a href="../office/printer.html">打印耗材</a>
                                </p>
                            </li>
                            <li class="">
                                <a href="../news/newsmain.html">资讯中心</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../news/enterprise.html">企业新闻</a>
                                    <a href="../news/indurstry.html">行业资讯</a>
                                </p>
                            </li>
                            <li class="">
                                <a href="../practice/hempel.html">工程案例</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../practice/hempel.html">HEMPEL-海虹老人</a>
                                    <a href="../practice/jotun.html">JOTUN-佐敦</a>
                                    <a href="../practice/kansai.html">KANSAI-关西</a>
                                </p>
                            </li>
                            <li class="">
                                <a href="../support/base.html">技术支持</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../support/base.html">基础涂装知识</a>
                                    <a href="../support/color.html">色彩选择</a>
                                    <a href="../support/construction.html">涂装施工</a>
                                    <a href="../support/standard.html">相关标准</a>
                                    <a href="../support/answer.html">有问有答</a>
                                </p>
                            </li>
                            <li class="">
                                <a href="../contact/us.html">联系我们</a>
                                <p>
                                    <a href="javascript:void(0);" class="fristnav"></a>
                                    <a href="../contact/us.html">18521309245</a>
                                    <a href="../contact/us.html">qianduisy@163.com</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="qiandui_company_img" href="index.html">
                        <img src="../../images/logo.png"></div>
                    <div class="qiandui_company_name">上海谦兑实业有限公司</div>
                </div>
            </div>
        </div>
        <div class="productHeadTwo">
            <div class="productHeadBox">
                <h2>关于我们</h2>
                <p>
                    <a  >首页</a> >
                    <a href="/index.php/default/category/62.html">关于我们</a> > ／
                    <font>工业防腐品牌</font>
                </p>
            </div>
        </div>
        <div class="warpperBox">
            <div class="product">
                <div class="productLeft">
                    <h2>关于我们</h2>
                    <div class="menu">
                        <ul id="accordion" class="accordion">
                            <li class="">
                                <div class="link">公司简介</div>
                                <ul class="submenu">
                                    <li>
                                        <a href="company.html">－ 公司简介</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <div class="link">工业防腐品牌</div>
                                <ul class="submenu">
                                    <li>
                                        <a onclick="changeContentInAboutUs(1)">－ HEMPEL-海虹老人</a>
                                    </li>
                                    <li>
                                        <a onclick="changeContentInAboutUs(2)">－ JOTUN-佐敦</a>
                                    </li>
                                    <li>
                                        <a onclick="changeContentInAboutUs(3)">－ COSCO KANSAI-中远关西</a>
                                    </li>
                                    <li>
                                        <a onclick="changeContentInAboutUs(4)">－ SHERWIN-WILLIAMS-宣伟</a>
                                    </li>
                                    <li>
                                        <a onclick="changeContentInAboutUs(5)">－ PPG-庞贝捷（式玛卡龙、亚美隆）</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <div class="link">服务范围</div>
                                <ul class="submenu">
                                    <li>
                                        <a href="/index.php/default/category/117.html">－ 电力工程</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/118.html">－ 民用基础设施</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/119.html">－ 石油化工</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/123.html">－ 矿业和金属加工</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/120.html">－ 码头和港口机械</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/121.html">－ 储罐、压力容器和管道</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/125.html">－ 集装箱</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/122.html">－ 综合工业</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/231.html">－ 民用钢结构防腐及防火</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/124.html">－ 海洋工程</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/126.html">－ 船舶</a>
                                    </li>
                                    <li>
                                        <a href="/index.php/default/category/243.html">－ 工程机械</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <div class="link">合作伙伴</div>
                                <ul class="submenu">
                                    <li>
                                        <a href="/index.php/default/category/164.html">－ 品牌合作伙伴</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="contactUs">
                        <h1>联系我们</h1>
                        <ul>
                            <li>地址: 上海市长宁区定西路1016号</li>
                            <li class="tel">MOB：18521309245</li>
                            <li class="emall">E-MAIL：qianduisy@163.com</li>
                            <li class="web">WEB：www.jadei.cn</li>
                        </ul>
                    </div>
                </div>
                <div class="productRight">
                    <h2> <em>工业防腐品牌</em>
                    </h2>
                    <div class="insert_indurstry">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footer">
            <div class="footerBag">
                <div class="footerBoxThree">
                    <h2>友情链接</h2>
                    <ul>
                        <li>
                            <a href="https://shop1429426715858.1688.com/">
                                <img src="../../images/friend_link_ali.png" width="100" height="30"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footerTwo">
                <div class="footerTwoBox">Copyright © 2016 上海谦兑实业有限公司 All rights reserved</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../../js/menu.js"></script>
    <script type="text/javascript" src="../../js/sidemenu.js"></script>
    <script type="text/javascript" src="../../js/my.js"></script>
    <script>
        $(document).ready(function(){
            changeContentInAboutUs(4);
        });
    </script>
    </body> </html >
